## Python Basics Exercise
This exercise is designed to test your skills on basic Python programming, `numpy` and `pandas`.

Place your answers within the code blocks that have the comment.

```python
# your code here
```

Make sure to remove or comment the line below to be able to proceed. It's only placed there as a reminder that the function has not yet been implemented.
```python
raise NotImplementedError
```

## Note on "test scripts"

The code bloock following the function definition are "unit tests" which are code blocks which test if the function you implemented is correct or not. It will not print an output **if the conditions are met** (meaning the answer is correct). The current output for "Exercise 1" shows an example of when the code is correct and there's no errors, while the output for "Exercise 2" shows an example of what it would look like if something is incorrect.

---

In [32]:
# Place your imports here
import numpy as np
import pandas as pd

**Exercise 1.** Create a function that generates a list containing values from 0 to n-1. **(1 pt.)**

In [2]:
def exercise_1 (a):
    return range (0,a)

In [ ]:
# these are test scripts
ans = exercise_1(5)
assert ans==[0, 1, 2, 3, 4]

ans = exercise_1(25)
assert ans==[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

**Exercise 2.** Create a function that turns the list into a numpy array **(1 pt.)**

In [3]:
def exercise_2(a):
    return np.arange(a)

In [ ]:
ans = exercise_2([0, 1, 2, 3, 4])
assert (ans==np.arange(5)).sum()==5

ans = exercise_2(exercise_1(5))
assert (ans==np.arange(5)).sum()==5

ans = exercise_2(exercise_1(25))
assert (ans==np.arange(25)).sum()==25

**Exercise 3.** Create a function that accepts 2 parameters: 
 - nums - a list of integer
 - n - a single integer number
 
The function adds n to all the numbers in nums.

**(1 pt.)**

In [4]:
def exercise_3 (nums, n):
    my_nums = np.array (nums)
    new_nums = my_nums + n
    return new_nums

In [19]:
ans = exercise_3([0, 1, 2, 3, 4], 20)
assert (ans==np.arange(20, 25)).sum()==5

ans = exercise_3([0, 1, 2], 60)
assert (ans==np.arange(60, 63)).sum()==3

TypeError: unsupported operand type(s) for -: 'list' and 'int'

**Exercise 4.** Create a function that accepts a list of numbers as input and returns the first number that has a number with a lower value after it than the number preceding (before) it. If there is none, return `None`.
 
**(2 pts.)**

In [7]:
def exercise_4(nums):
    my_nums = np.array (nums)
    x = my_nums.index (i)
    for i in my_nums:
        if my_nums[x-1] > my_nums[x+1]:
            break
            return x
        elif my_nums [x-1] <= my_nums [x+1]:
                continue
        else:
            return print('None')

In [ ]:
ans = exercise_4([0.79, 4, 11.8, 99])
assert ans==None

ans = exercise_4([0.79, 4, 11.8, 99, 0.4, 76, 55, 66])
assert ans==0.4

ans = exercise_4([0.79, 4, 4, 11.0, 11, -10, -11, 12])
assert ans==-10

**Exercise 5.** Create a function that returns a list of prime factors of a number.

**(2 pts.)**

In [18]:
def exercise_5(n):
    pfactors = []
    factors = range (2, n/2)
    for p in factors:
        if (n % p) == 0:    
            pfactors.append (p)
    return my_primes

In [ ]:
ans = exercise_5(1)
assert ans==[]

ans = exercise_5(4)
assert ans==[2]

ans = exercise_5(1265)
assert ans==[5, 11, 23]

ans = exercise_5(3674)
assert ans==[2, 11, 167]

**Exercise 6.** Create a function that has 3 parameters: list of integers (num), integer number (n1), and another integer number (n2). The function will return a list of integers that are multiples of either n1 or n2.

**(2 pts.)**

In [29]:
def exercise_6(nums, n1, n2):
    my_list = []
    multiples = range (nums)
    n1 <= nums
    n2 <= nums
    for i in multiples:
        if i % n1 = 0:
            my_list.append (i)
        if i % n2 = 0
            my_list.append (i)
        return my_list

SyntaxError: invalid syntax (<ipython-input-29-39b43adac1d4>, line 7)

In [ ]:
ans = exercise_6(np.arange(20), 3, 4)
assert ans==[3, 4, 6, 8, 9, 12, 15, 16, 18]

ans = exercise_6(np.arange(300), 17, 27)
assert ans==[17, 27, 34, 51, 54, 68, 81, 85, 102, 108, 119, 135, 136, 153, 162, 170, 187, 189, 204, 216, 221, 238, 243, 255, 270, 272, 289, 297]

**Exercise 7.** Create a function that reads the Titanic dataset (`data/train.csv`) and returns the ages (in list form) of first 5 (based on index) female passengers who survived .

**(2 pts.)**

In [34]:
def exercise_7():
    with Zipfile (DATA_DIR + "titanic.zip", "r") as zip_file:
        df = pd.read_csv(zip_file.open('test.csv'))
        display(df.head())

In [ ]:
assert exercise_7()==[38, 26, 35, 27, 14]

**Exercise 8.** Create a function that reads the Titanic dataset (`data/train.csv`) and returns the average fare of all female passengers who survived and have an age greater than 30. Format the result by rounding up to 2 decimal values. Make sure the data type is float.

**(2 pts.)**

In [ ]:
def exercise_8():
    # your code here.
    raise NotImplementedError

In [ ]:
assert exercise_8()==71.16